html{
    font-size: 16px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    width:90%;
    max-width: 1158px; /* 必要に応じて最大幅を設定 */
    margin: 0 auto; /* 親要素を中央に揃える */
}

h1 {
    margin: 0;
    line-height: 1.5;
    font-size: 40px;
    text-align: left;
    white-space: nowrap; /* 改行を禁止 */
    font-family: dnp-shuei-gothic-gin-std, sans-serif;
    margin-bottom: 16px; /* 親要素を中央に揃える */
}

.caution {
    font-size: 12px;
    margin-bottom: calc(120vw/1440*100); /* 親要素を中央に揃える */
}

/* 「ジャンル・スタジオ」ボタンのスタイル */
.button-container {
    display: flex;
    margin-bottom: calc(40vw/1440*100); /* 親要素を中央に揃える */
}
.genre-button,
.studio-button  {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 8px 30px;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.genre-button {
    border-radius: 8px 0 0 8px; /* 左上・左下のみ丸み */
}
.studio-button {
    border-radius: 0 8px 8px 0; /* 右上・右下のみ丸み */
}
.genre-button:hover,
.studio-button:hover {
    background-color: white;
    color: black;
}

/* たくさんの「ジャンル・スタジオ」ボタンのスタイル */
.button-container-secondary {
    display: flex;
    flex-wrap: wrap; /* 折り返しを許可 */
    margin-bottom: 120px;
    gap: 0px; /* ボタン間の余白 */
}
.button-container-secondary button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: calc(12vw/1440*100) calc(24vw/1440*100);
    font-size: calc(12vw/1440*100);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
}
.button-container-secondary button:hover {
    background-color: #e0e0e0;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
}

.genre-group-1 button:first-child {
    border-top-left-radius: 10px; /* 左上の角を丸くする */
}
.genre-group-1 button:last-child {
    border-top-right-radius: 10px; /* 右上の角を丸くする */
}
.genre-group-2 button:last-child {
    border-top-right-radius: 10px; /* 左上の角を丸くする */
    border-bottom-right-radius: 10px; /* 右上の角を丸くする */
}
.genre-group-3 button:last-child {
    border-bottom-right-radius: 10px; /* 右上の角を丸くする */
}
.genre-group-4 button:first-child {
    border-bottom-left-radius: 10px; /* 左上の角を丸くする */
}
.genre-group-4 button:last-child {
    border-bottom-right-radius: 10px; /* 右上の角を丸くする */
}

.studio-group-1 button:first-child {
    border-top-left-radius: 10px; /* 左上の角を丸くする */
}
.studio-group-1 button:last-child {
    border-top-right-radius: 10px; /* 右上の角を丸くする */
    border-bottom-right-radius: 10px; /* 左上の角を丸くする */
}
.studio-group-2 button:last-child {
    border-top-right-radius: 10px; /* 左上の角を丸くする */
    border-bottom-right-radius: 10px; /* 右上の角を丸くする */
}
.studio-group-3 button:first-child {
    border-bottom-left-radius: 10px; /* 右上の角を丸くする */
}
.studio-group-3 button:last-child {
    border-bottom-right-radius: 10px; /* 右上の角を丸くする */
}

/* 検索件数のスタイル */
.search {
    font-size: 12px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.contents {
    display: flex;
    flex-wrap: wrap; /* 折り返し可能に */
    gap: 40px; /* カード間の余白 */
    justify-content: flex-start;
    margin: 0 auto; /* 親要素を中央に揃える */
    width:100%;
    max-width: 1158px; /* 必要に応じて最大幅を設定 */
    color: #000000;
}

.card {
    width: 322px; /* 横幅を固定 */
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
}

.title-container {
    display: flex;
    align-items: center; /* 垂直中央揃え */
    text-align: left; /* 左揃え */
    font-size: 12px;
    font-weight: bold;
    height: 48px;
    margin-bottom: 15px;
}

.main-container {
    display: flex;
    flex-direction: row; /* 横並び */
    height: auto;
}

.image-container img {
    width: 156px; /* 画像サイズ調整 */
    height: auto;
    margin-right: 15px;
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

/* 「詳しく見る」ボタンのスタイル */
.button-custom {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 10px;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    margin-bottom: 15px;
    cursor: pointer;
    width: 112px;
}

.button-text {
    padding-right: 2px; /* テキストと矢印の間のスペース */
}

.arrow-icon {
    width: 12px; /* 矢印のサイズ調整 */
    height: auto;
}

/* .button-custom:hover {
    background-color: white;
    color: black;
} */

.studio-genre-container {
    display: flex;
    flex-wrap: wrap; /* レスポンシブ対応 */
    gap: 0px; /* 間隔を設定 */
    margin-bottom: 15px;
}

/* 「スタジオ・ジャンル」タグのスタイル */
.studio, .genre {
    background-color: rgb(255, 255, 255);
    color: #979797;
    border: 1px solid #979797;
    padding: 2px 5px;
    font-size: 8px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: fit-content;
}

/* 展示番号のスタイル */
.exnum{
    font-size: 16px;
}

/* ほんの少し小さなPC用 */
@media screen and (max-width: 1290px) {
    .search, .contents {
        max-width:750px;
    }
}

@media screen and (max-width: 850px) {
    .search, .contents {
        max-width:355px;
    }
}

/* スマホ用 */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 16px;
    }
    .caution {
        font-size: 8px;
    }
    .button-container {
        margin-bottom: 16px; /* 親要素を中央に揃える */
    }
    .genre-button,
    .studio-button  {
        font-size: 12px;
        padding: 8px 20px;
    }
    /* たくさんの「ジャンル・スタジオ」ボタンを横一列にしてスクロール */
    .button-container-secondary {
        flex-wrap: nowrap; /* 折り返しなし */
        overflow-x: auto; /* 横スクロールを許可 */
        white-space: nowrap; /* 折り返さない */
        padding-bottom: 10px; /* スクロールバーの余白 */
        scrollbar-width: thin; /* Firefox用 */
        -ms-overflow-style: none; /* IE/Edge用 */
    }
    /* Webkit系ブラウザのスクロールバーを非表示に */
    .button-container-secondary::-webkit-scrollbar {
        display: none;
    }
    .button-group {
        flex: 0 0 auto; /* グループを横並びにする */
        display: flex;
        flex-wrap: nowrap; /* ボタンを1行に並べる */
    }
    .button-container-secondary button {
        flex: 0 0 auto; /* ボタンの幅を自動調整 */
        font-size: 10px;
        padding: 8px 20px;
    }
    .search {
        font-size: 8px;
    }
    .genre-group-1 button:first-child {
        border-top-left-radius: 10px; /* 左上の角を丸くする */
        border-bottom-left-radius: 10px; /* 左上の角を丸くする */
    }
    .genre-group-1 button:last-child {
        border-top-right-radius: 0px; /* 右上の角を丸くする */
    }
    .genre-group-2 button:last-child {
        border-top-right-radius: 0px; /* 左上の角を丸くする */
        border-bottom-right-radius: 0px; /* 右上の角を丸くする */
    }
    .genre-group-3 button:last-child {
        border-bottom-right-radius: 0px; /* 右上の角を丸くする */
    }
    .genre-group-4 button:first-child {
        border-bottom-left-radius: 0px; /* 左上の角を丸くする */
    }
    .genre-group-4 button:last-child {
        border-top-right-radius: 10px; /* 右上の角を丸くする */
        border-bottom-right-radius: 10px; /* 右上の角を丸くする */
    }
    
    .studio-group-1 button:first-child {
        border-top-left-radius: 10px; /* 左上の角を丸くする */
        border-bottom-left-radius: 10px; /* 左上の角を丸くする */
    }
    .studio-group-1 button:last-child {
        border-top-right-radius: 0px; /* 右上の角を丸くする */
        border-bottom-right-radius: 0px; /* 左上の角を丸くする */
    }
    .studio-group-2 button:last-child {
        border-top-right-radius: 0px; /* 左上の角を丸くする */
        border-bottom-right-radius: 0px; /* 右上の角を丸くする */
    }
    .studio-group-3 button:first-child {
        border-bottom-left-radius: 0px; /* 右上の角を丸くする */
    }
    .studio-group-3 button:last-child {
        border-top-right-radius: 10px; /* 右上の角を丸くする */
        border-bottom-right-radius: 10px; /* 右上の角を丸くする */
    }
}